<ion-header>
  <ion-navbar>
    <ion-title *ngIf="movieObject">{{movieObject.title}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-card class='popover'>
  <ion-card-content>
    <div class="movie-modal-container">
      <div class="movie-details-container">
        <div class="movie-details-top">
          <div class="movie-details-left">
            <div class="detail-container">
              <span class="label">Title: </span>
              <span class="value">{{movieObject.title}}</span>
            </div>
            <div class="detail-container">
              <span class="label">Director: </span>
              <span class="value">{{movieObject.Director}}</span>
            </div>
            <div class="detail-container">
              <span class="label">Actors: </span>
              <span class="value">{{movieObject.Actors}}</span>
            </div>
          </div>
          <div class="movie-details-right">
            <div class="movie-poster">
              <img class="poster-image" [src]="movieObject.Poster">
            </div>
          </div>
        </div>
        <div class="movie-plot-summary">
          <span class="plot-label">Plot: </span>
          <span class="plot-value">{{movieObject.Plot}}</span>
        </div>
      </div>
      <ion-select interface="{{getSelectInterface()}}" class="select-platform-type" [placeholder]="'Select Movie Platform'">
        <ion-option *ngFor='let platformsIterated of platforms; let index = index' (ionSelect)="updateMoviePlatform(platformsIterated)"
          [value]="platformsIterated">
          <span>{{platformsIterated.displayable}}</span>
        </ion-option>
      </ion-select>
      <div class="button">
        <button ion-button block class="button" (click)="removeMovie()"> Delete Movie </button>
      </div>
    </div>
  </ion-card-content>
</ion-card>