page-welcome {
  .page-container {
    width: auto; 
    height: 100vh;
    background: url('./../../assets/imgs/tracy-thomas-56810-unsplash.jpg');
    background-size: cover;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button {
    width: 55vw; 
    height: 5vh;
    margin: 0.5rem;
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  .button-login {
    background-color: green;
    justify-content: center;
    align-items: center;
    
  }

  .button-signup {
    background-color: red;
    justify-content: center;
    align-items: center;
  }
}
