page-welcome {
  .page-container {
    width: auto; 
    height: 100vh;
    background-image: url('./../../assets/imgs/tracy-thomas-56810-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center center; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button {
    width: 55vw; 
    height: 5vh;
    margin: 0.5rem;
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  .button-login {
    justify-content: center;
    align-items: center;
    
  }

  .button-signup {
    justify-content: center;
    align-items: center;
  }
}
