page-search {

    .movie-container {
        height: 80vh;
        width: auto;
        display: flex; 
        flex-direction: column;
        padding-left: 0.5rem;
    }

    .movie-details {
        height: 85vh; 
        width: auto; 
        flex-direction: row;
        display: flex;
    }

    .left-movie-details {
        display: flex;
        flex-direction: column; 
        max-width: 50vw;
        width: 50vw;
    }

    .right-movie-details {
        display: flex;
        flex-direction: column;
        max-width: 50vw;
        width: 50vw;
    }

    

    .movie-poster {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; 
    }

    .poster-image {
        height: 45vh;
        width: auto;
    }

    .movie-title {
        font-size: 2.5rem;
        font-weight: bold; 
    }

    .select-platform-type {
        overflow: visible;
        position: relative;  
        max-width: 100%;
        min-width: 100%;
        .select-text {
          padding-left: 1.5rem;
          padding-right: 1rem;
          font-size: 1.5rem;
          padding-top: 0.2rem;
          min-width: 0;
        }
        .select-icon {
          padding-right: 1.87rem;
        }
      }
}
