<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar #box (ionInput)="getItems($event)" (ionClear)="resetList($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}" autoCorrect="on"></ion-searchbar>
  <!-- <ion-list> -->
    <ion-item-sliding class="list-item" *ngFor="let movie of movieList">
      <button ion-item (click)="openItem(movie)">
        <ion-avatar class="ion-avatar" item-start>
          <img [src]="movie.Poster" />
        </ion-avatar>
        <h2>{{movie.title}}</h2>
        <p>{{movie.Director}}</p>
        <p>{{movie.Actors}}</p>
        <ion-note item-end *ngIf="movie.Rated">{{movie.Rated}}</ion-note>
        <ion-note item-end *ngIf="movie.platform">{{movie.vehiclePlatformDisplayable}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(movie)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  <!-- </ion-list> -->
</ion-content>